body
{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: white;
    
    
}  
.picture{
    text-align: center;
    
}
p{
    height: 100px;
    border-width: 1px;
    border-style: solid;
}
.footer{
    font-size: x-small;
}